<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">Terms And Conditions</h1> 
        <div class="p-5 mt-4 bg-s text-t">
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, excepturi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, consequuntur. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga, hic. Esse corporis nostrum asperiores, consequatur id consequuntur mollitia eum officiis neque. Ipsum cupiditate vero laborum, veritatis itaque autem aliquam dolorem. </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, recusandae Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, voluptatem. . Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam quia nemo aspernatur esse quidem minus, earum nesciunt facere corporis asperiores autem illo eveniet dolores reprehenderit, a nihil sapiente labore incidunt? </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, aut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, deserunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor inventore molestias eos asperiores doloribus sapiente aliquid commodi laudantium minima quisquam a, nihil labore dolorem rem esse dolorum quo iure consequuntur.</p>
            <div class="text-center">
                <button class="btn btn-info " routerLink ="/"  >Back To Home</button>
            </div>
        </div>
    </div>
</section>