<nav class="navbar navbar-expand fixed-top" style="background-color: #fbecff;" >
    <div class="container">
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item ml-3" *ngFor="let category of categories ">
                    <a href="" class="nav-link" [routerLink]="['/category', category.name, category._id]"> 
                        {{ category.name }} 
                    </a>
                </li>
            </ul>
        </div> 
    </div>
</nav>
