<header class="navbar navbar-expand-lg fixed-top bg-white">
    <div class="container justify-content-between">
      <a href="#" class="logo">Bookini</a>
      <div class="d-flex align-items-center">
        <span class="me-3">📞 +216 123 456 789</span>
  
        <!-- Show login button if not logged in -->
        <a [routerLink]="['/login']" class="btn" *ngIf="!loggin">
          <i class="bi bi-person" style="margin-right: 5px;">login</i>
        </a>
  
        <!-- Show user details if logged in -->
        <span class="me-3" *ngIf="loggin">{{ userDate?.nom }} {{ userDate?.prenom }}</span>
  
        <!-- Logout button if logged in -->
        <a class="btn" *ngIf="loggin" (click)="logout()">
          <i class="bi bi-person" style="margin-right: 5px;">logout</i>
        </a>
      </div>
    </div>
  </header>
  