<br>
<div class="card">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>LOGIN FORM</h3>
            <p class="m-auto subs-text">Subscribe to get notifified for new posts</p>

            <div class="alert alert-danger mt-3" *ngIf='EmailError'>
                Email is Already in use
            </div>

            <div class="alert alert-info mt-3" *ngIf='isSubscribed'>
                Your Are Successfully subscribed.Stay Tuned for Awesome blog posts...!
            </div>

            <form  class="form-inline  mb-5 mt-3"  #subForm = ngForm (ngSubmit)="onSubmit(subForm.value)" *ngIf='!isSubscribed'>

                    <div>
                        <input type="text" 
                        class="form-control" 
                        [ngClass]="{'is-invalid' : Name.touched && Name.invalid}"  
                        placeholder="Your Name" 
                        name="name"  
                        #Name='ngModel' 
                        ngModel required >

                        <div class="text-danger" *ngIf='Name.touched && Name.invalid' >
                            <div *ngIf="Name.errors?.['required']" >Name is required</div>
                        </div>

                    </div>
                    <div>
                        <input type="email"
                         class="form-control" 
                         placeholder="Email Adress" 
                         name ="email" 
                         ngModel 
                         required 
                         email 
                         #Email="ngModel"
                         [ngClass]="{'is-invalid' : Email.touched && Email.invalid}"  
                         >
                        <div class="text-danger" *ngIf='Email.touched && Email.invalid' >
                            <div *ngIf="Email.errors?.['required']" >Email is required</div>
                        </div>
                        <div class="text-danger" *ngIf='Email.touched && Email.invalid' >
                            <div *ngIf="Email.errors?.['email']" >Enter a valid Email</div>
                        </div>
                    </div>
                    
                    <div>
                        <button class="btn btn-info btn-block btn-sub" [disabled] = 'subForm.invalid' >SUBSCRIBE</button>

                    </div>
                    <div class="mt-3">
                        <a [routerLink]="['/signup']" class="signup">Don't have an account? Sign up here</a>
                    </div>
                    
            </form>
        </div>
    </div>
</div>